[Desktop Entry]
Name=HTTP Inspector
GenericName=HTTP Inspector
Comment=REST Client
Categories=Network;Development;
Exec=com.github.treagod.httpinspector
Icon=com.github.treagod.httpinspector
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=httpinspector
Keywords=REST;HTTP;Client;
#X-GNOME-UsesNotifications=true
